{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Login</title>
  </head>
  <body>

    {% if error %}
    <div id="toast" class="toast">{{ error }}</div>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      <div class="main">
        <div class="form">
          <p class="title" onclick="window.location.href='{% url 'entry' %}'" style="cursor:pointer;">LegalAI</p>
          <div class="formv2">
            <p class="titlev2">Welcome Back</p>
            <div class="formv3">
              <p class="email">Email</p>
              <input type="email" name="email" />
              <div class="passwordDiv">
                <p class="password">Password</p>
                <a href="{% url 'forgot_password' %}" class="forgetpass">Forget Password?</a>
              </div>
              <input type="password" name="password" />
              <button type="submit">Login</button>

            </div>
          </div>
        </div>
        <div class="side">
          <img
            src="https://images.unsplash.com/photo-1495615080073-6b89c9839ce0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c3F1YXJlfGVufDB8MnwwfHx8MA%3D%3D"
            alt=""
          />
        </div>
      </div>
    </form>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const toast = document.getElementById("toast");
        if (toast) {
          toast.classList.add("show");
          setTimeout(() => {
            toast.classList.remove("show");
          }, 3000);
        }
      });
    </script>
  </body>
</html>
